.container-image-pick{
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.border-image-pick{
    width: var(--size-image-pick);
    height: var(--size-image-pick);
    min-width: var(--size-image-pick);
    min-height: var(--size-image-pick);
    margin-right: auto;
    margin-left: auto;
    border: 4px dashed var(--color-task);
    border-radius: 15px;
}

.image-pick{
    width: 50%;
    height: 50%;
    background-color: var(--color-task);
    border-radius: 10px;
}

/* @keyframes scroll-tutorial {
    0% {
      transform: rotateX(
    }
  } */