.container-img-pick{
    width: 80%;
    min-width: 350px;
    height: 300px;
    border: 4px dashed var(--color-task);
    object-fit: cover;
border-radius: 15px;
}

.image-pick{
    width: 50%;
    height: 50%;
    background-color: var(--color-task);
    border-radius: 10px;
}