#container-menu{
    top: 0;
    right: -300px;
    width: 0;
    height: 100%;
    display: flex !important;
    background-color: var(--main-color-dark);
    position: fixed;
    flex-direction: column;
    transition: all ease .6s;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#container-menu * {
    font-size: 30px;
    font-weight: 800;
    color: white !important;
}

#container-menu a {
    text-align: center;
    height: 100px;
    justify-content: center;
    align-items: center;
}