.container-item-task-list{
    height: 80px;
    width: 100%;
    padding: 5px;
    padding-right: 25px;
    margin-bottom: 15px;
}

.item-task-list-image{
    height: 100%;
    width: 100px;
    object-fit: cover;
}

