.container-template{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      "header-template"
      "body-template";
    grid-template-rows: 60px calc(100% - 60px);
}

.header-template{
    grid-area: header-template;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 10px;
    font-size: 25px;
    font-weight: 700;
}

.header-template div:only-child{
    margin-left: auto;
}

.body-template{
    grid-area: body-template;
    display: grid;
    grid-template-areas: 
    "content"
    "keyboard";
    grid-template-rows: 100%;
}

.content{
    grid-area: content;
    padding: 20px;
}

.keyboard{
    grid-area: keyboard;
}

