:root{
  --main-color: #B042B4 !important;
}

@media (min-width: 1200px) {
    #root{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
