:root{
  --main-color: #009199 !important;
  --main-color-dark: #174A4D !important;
  font-family: 'Cairo', Arial, sans-serif !important;
}

@media (min-width: 1200px) {
    #root{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden !important;
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
